* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-reqaa:Noto Nastaliq Urdu;
    --font-aady:Marhey ;
}
.flex {
    display: flex;
    align-items: center;
}
.container {
    flex-direction: column;
    row-gap: 20px;
    padding: 10px 25px;
    margin: auto;
    width: 600px;
    background-image: url(https://muhammadatef1.github.io/Contact-Form/assets/images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.226);
    backdrop-filter: blur(8px);
    column-gap: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.title img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.title h2,
.title h3 {
    font-family: var(--font-aady);
    text-align: center;
}
.title h2 {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 5px 10px;
}
.all-icons {
    gap: 5px;
    row-gap: -10px;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    justify-content: center;
}
.icon {
    position: relative;
    backdrop-filter: blur(8px);
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #eeeeee63;
}
.icon::before {
    content: "اللغة الإنجليزية";
    width: 100%;
    height: 28px;
    position: absolute;
    bottom: 35px;
    left: -36px;
    background-image: linear-gradient(to right, #204fb7, #aee6e5);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-size: 9px;
    font-family: var(--font-aady);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: blue;
    backdrop-filter: blur(8px);
}
.icon h5 {
    text-align: center;
    font-size: 8px;
    font-family: var(--font-aady);
    background-image: linear-gradient(to right, #8a8be0, #e770d7);
}
.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.title:nth-last-child(1) {
    margin-top: 10px;
}